<section id="content">
  <div class="container">
    <div class="block-header">
      <h2>DashBoard</h2>

      <ul class="actions">
        <li>
          <a href="">
            <i class="zmdi zmdi-trending-up"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="zmdi zmdi-check-all"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="" data-toggle="dropdown">
            <i class="zmdi zmdi-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="">Refresh</a>
            </li>
            <li>
              <a href="">Manage Widgets</a>
            </li>
            <li>
              <a href="">Widgets Settings</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="mini-charts">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="mini-charts-item bgm-lightgreen">
            <div class="clearfix">
              <div class="chart stats-bar"><canvas height="35" width="68" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas></div>
              <div class="count">
                <small>Total Production</small>
                <h2>Tn 987,459</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="mini-charts-item bgm-orange">
            <div class="clearfix">
              <div class="chart stats-line"><canvas height="35" width="68" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas></div>
              <div class="count">
                <small>Total Supplies</small>
                <h2>$ 458,778</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="mini-charts-item bgm-bluegray">
            <div class="clearfix">
              <div class="chart stats-line-2"><canvas height="35" width="68" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas></div>
              <div class="count">
                <small>Total Labors</small>
                <h2>$ 792,561</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="dash-widgets">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header ch-alt m-b-20">
              <h2>Supplies <small>The supplies used on this campaign for this parcel.</small></h2>

              <button class="btn bgm-green btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
            </div>

            <div class="table-responsive">
              <table id="supplies-table" class="table table-striped">
                <thead>
                <tr>
                  <th data-column-id="variety">Variety</th>
                  <th data-column-id="quantity">Quantity</th>
                  <th data-column-id="area">Area</th>
                  <th date-column-id="createdAt" data-order="desc">Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>N/D</td>
                  <td>250 Tn</td>
                  <td>14 Ha</td>
                  <td>2016/08/07</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>607 Tn</td>
                  <td>25 Ha</td>
                  <td>2016/08/03</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>1204 Tn</td>
                  <td>58 Ha</td>
                  <td>2016/07/30</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>705 Tn</td>
                  <td>32 Ha</td>
                  <td>2016/07/27</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header ch-alt m-b-20">
              <h2>Labors <small>The labor made on this campaign for this parcel.</small></h2>

              <button class="btn bgm-green btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
            </div>

            <div class="table-responsive">
              <table id="labors-table" class="table table-striped">
                <thead>
                <tr>
                  <th data-column-id="variety">Variety</th>
                  <th data-column-id="quantity">Quantity</th>
                  <th data-column-id="area">Area</th>
                  <th date-column-id="createdAt" data-order="desc">Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>N/D</td>
                  <td>250 Tn</td>
                  <td>14 Ha</td>
                  <td>2016/08/07</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>607 Tn</td>
                  <td>25 Ha</td>
                  <td>2016/08/03</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>1204 Tn</td>
                  <td>58 Ha</td>
                  <td>2016/07/30</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>705 Tn</td>
                  <td>32 Ha</td>
                  <td>2016/07/27</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>705 Tn</td>
                  <td>32 Ha</td>
                  <td>2016/07/27</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header ch-alt m-b-20">
              <h2>Productions <small>The production details on this campaign for this parcel.</small></h2>

              <button class="btn bgm-green btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
            </div>

            <div class="table-responsive">
              <table id="productions-table" class="table table-striped">
                <thead>
                <tr>
                  <th data-column-id="variety">Variety</th>
                  <th data-column-id="quantity">Quantity</th>
                  <th data-column-id="area">Area</th>
                  <th date-column-id="createdAt" data-order="desc">Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>N/D</td>
                  <td>250 Tn</td>
                  <td>14 Ha</td>
                  <td>2016/08/07</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>607 Tn</td>
                  <td>25 Ha</td>
                  <td>2016/08/03</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>1204 Tn</td>
                  <td>58 Ha</td>
                  <td>2016/07/30</td>
                </tr>
                <tr>
                  <td>N/D</td>
                  <td>705 Tn</td>
                  <td>32 Ha</td>
                  <td>2016/07/27</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-6">
          <div class="dw-item bgm-teal">
            <div id="weather-info-widget"></div>
          </div>
        </div>-->
      </div>
    </div>

  </div>
</section>