<aside id="sidebar" class="sidebar c-overflow">
  <div class="s-profile">
    <a href="" class="s-profile-menu" data-ma-action="profile-menu-toggle">

      <div class="sp-info">
        <%= current_user.username.capitalize %>

        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <ul class="main-menu">
      <li>
        <a href=""><i class="zmdi zmdi-account"></i> View Profile</a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
    </ul>
  </div>

  <ul class="main-menu">
    <li class="active">
      <a href="index.html"><i class="zmdi zmdi-home"></i> Home</a>
    </li>
  </ul>
</aside>